<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Users</title>
</head>
<body>
<div class="container">
    <div class="row mb-3 align-items-center">
        <div class="col-6">
        <div th:switch="${current}">
            <br>
    <p th:case="null" class="h4"><mark>No users found!</mark></p>
    <div th:case="*">
        <p class="h5">Current user:</p>
        <table class="table">
            <tbody>
            <tr th:each="current : ${current}">
                <td th:text="${current.id}"></td>
                <td th:text="${current.login}"></td>
            </tr>
            </tbody>
        </table>
    </div>
        </div> 
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-3 align-items-center ">
        <div class="col-6">
<div th:switch="${users}">
    <p th:case="null" class="h4"><mark>No users found!</mark></p>
    <div th:case="*">
        <p class="h5">Users:</p>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col" class="h6">Id</th>
                <th scope="col" class="h6">Login</th>
                <th scope="col" class="h6">Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="users : ${users}">
                <td th:text="${users.id}"></td>
                <td th:text="${users.login}"></td>
                <td th:text="${users.password}"></td>
                <td><a th:href="@{user-update/{id}(id=${users.id})}">Edit</a></td>
                <td><a th:href="@{user-delete/{id}(id=${users.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create" class="btn btn-outline-primary">Create user</a></p>
</div>
            <form action="/auth/logout" method="POST">
        <button class="btn-outline-primary" type="submit">Logout</button>
    </form>
        </div>
    </div>
</div>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
